[Unit]
Description=The NodeJS application
After=network.target

[Service]
# Means that the service is a single process
Type=simple
# Group and User that the service will run as
Group=csye6225
User=csye6225
# get the environment variables from the .env file
WorkingDirectory=/var/env_webapp/
EnvironmentFile=.env
# ExecStartPre=/var/webapp/machine_image/packer/scripts/envscript.sh
#Environment=DB_NAME=${DB_NAME}
#Environment=DB_USER=${DB_USER}
#Environment=DB_HOST=${DB_HOST}
#Environment=DB_PASSWORD=${DB_PASSWORD}
#Environment=NODE_ENV=${NODE_ENV}
#Environment=PORT=${PORT}
# Working directory of the application
# Command to start the application
# WorkingDirectory=/var/webapp/
ExecStart=/usr/bin/node /var/webapp/src/index.js
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
